/* class -> .text-red{} */
/* id -> #id-bilgisi {} */

.text-red {
    color : red;
}

.fs-14{
    font-size: 14px;
}

.fs-20{
    font-size: 20px;
}

.fs-50{
    font-size : 50px;
}

h1,h2,h3{
    color: aquamarine;
}


