h3{
    color: #ee0883;
    font-size:64px;
}
p  {
    color : cornflowerblue;
    font-size: 30px;
}

h1,h2,h3{
    text-transform: uppercase;
    font-family: Arial;
}
body{
    background-color: beige ;
}

h1.italic{
    font-style : italic;
}
/*
yorum satırı
*/
