.ortala {
    align : center;
}

body {
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
}

.box1 {
    text-align: center;
    background-color: rgb(87, 105, 105);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.box2 {
    background-color: rgb(71, 126, 126);
    width: 40%;
    text-align: center;
    float:left ;
    padding: 10px 0;
    margin-right: 0.5%;
    height: 70px;
}

.box3 {
    background-color: rgb(36, 152, 152);
    width: 20%;
    text-align: center;
    float:left ;
    padding: 1px 0;
    margin: auto;
    height: 88px;
}

.box4 {
    background-color: #12a871;
    text-align: center;
    width: 39%;
    float: right;
    padding: 0;
    margin-left: 0.5%;
    height: 90px;
}
.clear {
    clear: both;
}